---
title: SOMETHING WENT WRONG
description: We're already looking for a solution
stylesheets:
  - ./pageNotFound.css
  - ./link.css
  - ./main.css
---
{{!< base}}

<main>
    <div class='not-found-container'>
        <p class="not-found-title">{{title}}</p>
        <p class="not-found-description">{{description}}</p>
        {{> link href="./index.hbs" linkText="index"}}
    </div>
</main>