---
title: Welcome to YaMsg
css:
  - main.css
  - form.css
---

{{!< main}}

<main>
  <h2>{{title}}</h2>
  <a href="./signIn.hbs" class="block-list">sign in</a>
  <a href="./signUp.hbs" class="block-list">sign up</a>
  <a href="./pageNotFound.hbs" class="block-list">404</a>
  <a href="./serverError.hbs" class="block-list">500</a>
  <a href="./dialogues.hbs" class="block-list">dialogues</a>
  <a href="./settings.hbs" class="block-list">settings</a>
</main>
