---
title: SOMETHING WENT WRONG
description: We're already looking for a solution
stylesheets:
  - ./messanger.css
  - ./main.css
chatsData: [
    {
        text: hope to see you soon,
        isMine: false
    },
    {
        text: mmmmmm no,
        isMine: false
    },
    {
        text: what about pizza tomorrow?,
        isMine: true
    }
]
messages: [
    {
        isMine: false,
        text: A
    },
    {
        isMine: true,
        text: B
    },
    {
        isMine: false,
        text: C
    },
    {
        isMine: true,
        text: D
    },
]
---
{{!< base}}

<main>
    <div class="chats">
        <div class='all-chats'>
            {{#each chatsData}}
                {{> message }}
            {{/each}}
        </div>
        <div class='chat'>
            {{#each messages}}
                {{> message }}
            {{/each}}
            <form>
                <input id="message" class="chat__input" placeholder="start typing"></input>
            </form>
        </div>
    </div>
</main>