---
title: 404 Error
code: 404
description: This is not the web page you are looking for
css:
  - warning.css
  - main.css
---

{{!< main}}

<main>
  {{> warning code=code description=description}}
</main>
