---
title: Settings
css:
  - main.css
  - form.css
  - settings.css
  - button.css
---

{{!< main}}

<main>
    <form class="form">
        <div class="form__avatar-wrapper">
            <img src="../images/img_avatar.png" id="avatar" alt="Avatar" class="profile-avatar">
        </div>
        <input id="first_name" class="form__input" placeholder="first name"></input>
        <input id="second_name" class="form__input" placeholder="second name"></input>
        <input id="display_name" class="form__input" placeholder="display name"></input>
        <input id="login" class="form__input" placeholder="login"></input>
        <input id="email" class="form__input" placeholder="email"></input>
        <input id="phone" class="form__input" placeholder="phone"></input>
        <input id="oldPassword" type="password" class="form__input" placeholder="old password"></input>
        <input id="newPassword" type="password" class="form__input" placeholder="new password"></input>
        <div class="form__button">
          {{> button type="submit" title="Save" href=""}}
        </div>
    </form>
</main>
