---
title: Sign in to MessegusO
linkText: Create account
stylesheets:
  - ./form.css
  - ./main.css
  - ./link.css
  - ./button.css
---
{{!< base}}

<main>
    <form class="form__wrapper">
        <h4 class="form__title">{{title}}</h4>
        <input id="login" class="form__input" placeholder="login"></input>
        <input id="password" type="password" class="form__input" placeholder="password"></input>
        {{> link href="./register.hbs" linkText="Create account"}}
        {{> link href="./messanger.hbs" linkText="messanger"}}
        {{> button title="Sign in"}}
    </form>
</main>