<div class='chat__preview'>
  <div class='chat__avatar-wrapper'>
    <img src='../images/avatar.jpeg' id='avatar' alt='Avatar' class='chat__avatar' />
  </div>
  <p class='chat__text'>какой-то текст</p>
</div>
