@import url(./postCss/variants.css);
@import url(./postCss/colors.css);

.main-link {
  color: var(--color-blue);
  outline: none;
  text-decoration: none;
  font-size: var(--variant-regular);
  margin-bottom: 20px;
}
