@import url(./postCss/colors.css);

.chats {
  height: 95vh;
  display: flex;
}

.chat__input {
  width: 100%;
  height: 46px;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid;
  border-color: var(--variant-lightGrey);
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.all-chats {
  width: 40%;
  height: 100%;
}

.chat {
  width: 60%;
  height: 100%;
  background-color: var(--color-aliceBlue);
  justify-content: end;
  display: flex;
  flex-direction: column;
}

.chat__avatar {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.chat__text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chat__preview {
  display: flex;
  align-items: baseline;
}

.preview__right {
  justify-content: flex-end;
}

.chat__avatar-wrapper {
  margin-bottom: 20px;
  margin-right: 15px;
  margin-left: 5px;
}
