@import url(./postCss/variants.css);
@import url(./postCss/colors.css);

.not-found-error {
  font-size: var(--variant-extraH1);
  margin-bottom: 20px;
}

.not-found-container {
  display: flex;
  height: 95vh;
  font-weight: 10;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.not-found-title {
  font-size: var(--variant-extraRegular);
  margin-bottom: 20px;
  color: var(--color-darkGrey);
}

.not-found-description {
  font-size: var(--variant-regular);
  margin-bottom: 30px;
  color: var(--color-darkGrey);
  border-bottom: 1px solid;
  border-color: var(--color-darkGrey);
  padding-bottom: 20px;
}
